header {
    display: flex;  /* Use flexbox to arrange logo & nav horizontally */
    align-items: center;  /* Vertically center items in header */
}

body{
    margin: 0px;
    padding-bottom: 0px;
    background-color: #313335;
}

.logo {
    display: block; /* Makes image behave like block element */
    width: 80px;
    height: auto;
    margin: 0;
}

h1{
    text-align: center;
    margin: 0;
}

nav {
    flex: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #313335;
    display: flex;
    align-items: center;
}

nav > ul > li {
    position: relative;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    margin: 0;
    flex: 1;
}

nav > ul > li > a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #313335;
    color: #FFFFF5;
    text-align: center;
}

nav > ul > li > a:hover {
    background-color: #28292b;
    text-decoration: underline;
    text-underline-offset: 5px;
}

nav ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #313335;
    width: 200px;
    text-align: left;
    z-index: 100;
    padding: 0;
    margin: 0;
}

nav ul > li > ul > li {
    width: 100%;
}

nav > ul > li:hover > ul {
    display: block;
}

nav ul > li > ul > li > a {
    display: block;
    padding: 10px 20px;
    color: #FFFFF5;
    text-decoration: none;
}

nav ul > li > ul > li > a:hover {
    background-color: #28292b;
    text-decoration: underline;
}
