
body {
    margin: 0;
    padding: 0;
    background-color: #313335;
    width: 100%;
}


h1 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    width: 100%;
    padding: 20px;
    font-size: 36px;
        color: #313335;
}



p {
    font-family: 'Noto Serif', serif;
    background-color: #313335;
    width: 100%;
    padding: 20px;
    font-size: 18px;
        color: #FFFFF5;

}

p::first-letter{
    font-weight: bold;
    font-size: 20px;
}

p:nth-of-type(odd) {
    text-indent: 40px;
}

footer p {
    font-family: 'Noto Serif', serif;
    background-color: #313335;
    width: 100%;
    padding: 30px;
    font-size: 18px;
        color: #FFFFF5;
    margin-left: 20px;
}

footer p::first-letter {
    font-weight: normal;
    font-size: 18px;
}

footer p:nth-of-type(odd) {
    text-indent: 0px;
}

h2{
       font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    padding: 25px;
    width: 100%;
    font-size: 25px;
        color: #313335;
}

h3 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    padding: 25px;
    width: 100%;
    font-size: 25px;
        color: #313335;
}


blockquote {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    background-color: #D5E5E6;
    margin: 0;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: #313335;
}

.hero {
  min-height: 400px;
  width: 100%;
  padding: 20px;
  background-image: url('https://bkrnnt.github.io/webdevelopment/background.jpg');
  background-size: cover; /*fill screen*/
  background-position: 70% center; /*move image to the right*/
  background-repeat: no-repeat;
  max-height: 50px;
  display: flex;                
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFF5;
}
.hero h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  color: #FFFFF5;
  margin-top: 50px;
  background: none; /* remove previous background color */
}

.hero p {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
        color: #FFFFF5;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 300px;
    background: black;
        padding: 5px 2px 5px 2px;
}

.hero button {
    background-color: #FFFFF5;
    padding: 12px 12px;
    margin-bottom: 30px;
}

.hero button:hover {
    background-color: #D5E5E6;
}

.Resume a {
    display: block;
    margin: 20px;
    padding: 20px;
    border-style: double;
    border-width: 2px;
    border-color: #313335;
    border-radius: 10px;
    background-color: #D5E5E6;
    color: #313335;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style-type: square;
    margin: 0px;
    background-color: #FFFFF5;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    font-size: 20px;
    color: #313335;
    margin-bottom: 2px;
    padding-left: 5px;
}

li:hover {
    color: dimgray;
    background-color: #FFFFF5;
}

* {
    box-sizing: border-box;
}

.reflection-box {
    border: 5px solid #D5E5E6;
    padding: 20px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #313335;
}

.reflection-box h2 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    padding: 20px;
    width: 100%;
    font-size: 25px;
        color: #313335;
}

.reflection-box p,
.reflection-box h1,
.reflection-box h3 {
    background: none;
    width: 100%;
    padding: 20px;
    margin: 0 0 15px 0;
}

.headshot img {
    width: 300px;
    height: auto;
    border: 4px solid #FFFFF5;
    border-radius: 10px;
    display: block; /* Make image a block element to allow for auto centering */
    margin-left: auto; /* Center image */
    margin-right: auto; /* Center image */
    margin-bottom: 0px;
}

.video-wrapper {
    margin: 20px auto !important; /* Center video */
    width: 400px !important;
    height: 500px !important;
    border-radius: 10px !important; /* Rounded corners */
    border: 4px solid #FFFFF5 !important;
    overflow: hidden; /* Clips content to respect border-radius in Safari */
}

.video-wrapper .video {
    width: 100%;
    height: 100%;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    padding: 25px;
    border-radius: 10px;
}

.about-page h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    text-align: center;
  
}

.about-page h3 {
    text-align: center;
}

.about-page main p {
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
    text-align: center;
}

.about-page main ul {
    margin: 10px 0 0 20px;
    padding: 10px;
    text-align: center;
}

.about-page main li {
    margin-bottom: 8px;
    padding: 10px;
    text-align: center;
}

.about-page .jobs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .about-page .jobs-grid {
        grid-template-columns: 1fr;
    }
}



@media print {
   
   /*Only apply to about.html*/ 
   body.about-page { 

        /*Page margins*/    
        @page {
            margin: 1in;
        }

        /*Hides everything by default*/     
        body.about-page {
            display: none !important;
            visibility: hidden !important;
        }

        /*Show following elements*/
        h1,
        p.description,
        ul,
        li,
        footer {
            display: block !important;
            visibility: visible !important;
        }

        /*Hide following elements*/    
        header,
        nav,
        .logo,
        .headshot,
        .Resume,
        .video-wrapper,
        h3 {
            display: none !important;
        }

        /*Format heading*/
        h1 {
            font-family: Georgia, serif !important;
            color: black !important;
            font-size: 15pt !important;
            margin: 0 !important;
            padding: 0 !important;
            font-weight: normal !important;
        }

        /*Format personal description*/
        p.description {
            font-family: Georgia, serif !important;
            color: black !important;
            font-size: 11pt !important;
            line-height: 1.2 !important;
            margin-top: 15px !important;
            padding: 0 !important;
            margin-bottom: 8px !important;
            font-weight: normal !important;
        }

        p.description::first-letter{
            font-weight: normal !important;
            font-family: Georgia, serif;
            font-size: 11pt !important;
        }

        p.description:nth-of-type(odd) {
            text-indent: 0 !important;
        }

        /*Format job list*/
        ul li {
            font-family: Georgia, serif !important;
            color: black !important;
            font-size: 10pt !important;
            margin-left: 15px !important;
            line-height: 1.2 !important;
        }

        /*Format footer*/
        footer {
            font-family: Georgia, serif !important;
            color: black !important;
            font-size: 10pt !important;
            text-indent: 0 !important;
            font-weight: normal !important;
        }

        footer p {
            font-family: Georgia, serif !important;
            color: black !important;
            font-size: 10pt !important;
            text-indent: 0 !important;
            font-weight: normal !important;
        }

        footer p::first-letter{
            font-weight: normal !important;
            font-family: Georgia, serif !important;
            font-size: 10pt !important;

        }

        footer p:nth-of-type(odd) {
            text-indent: 0 !important;
        }

    }
}

.icon {
    width: 32px;
    height: 32px;
    padding: 2px;
    vertical-align: middle;
    background-color: #FFFFF5;
}


form {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Noto Serif', serif;
    color: #FFFFF5;
}

fieldset {
    border: 2px solid #FFFFF5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

div {
    margin-bottom: 30px;
}

label {
    display: block; /* Allows label to appear above input */
    margin-bottom: 5px;
    font-weight: bold;
}

input, 
select, 
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #FFFFF5;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #FFFFF5;
    color: #313335;
    border: none;
    cursor: pointer; /* Changes cursor to pointer when hovering */
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #D5E5E6
}

.page-header h1 {
    text-align: center;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block > div:nth-child(3n) {
    grid-column: 1 / -1;
    margin-bottom: 150px;
}

.block img {
    max-width: 500px;
    height: auto;
    display: block;
}

.career-grid {
    text-align: center;
}

.career-grid p, 
.career-grid ul,
.career-grid li {
    font-size: 18pt;
    font-weight: normal;
    font-family: 'Noto Serif', serif;
}

.career-grid li {
    padding: 10px;
}

@media (max-width: 768px) {

    .block {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .block > div {
        align-items: center;
        text-align: center;
    }

    .block img {
        max-width: 90%;
    }

    .career-grid h3 {
        font-weight: bold;
    }
    
    .career-grid p,
    .career-grid ul,
    .career-grid li {
        font-size: 16px;
    }

    .block p,
    .full p {
        font-weight: normal;
        text-indent: none;
    }
}
