
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFF5;
}


h1 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    font-size: 36px;
        color: #313335;
}

p {
    font-family: 'Noto Serif' serif;
    background-color: #313335;
    width: 100%;
    padding: 20px;
    font-size: 18px;
        color: #FFFFF5;

}

h3 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFFF5;
    font-size: 25px;
        color: #313335;
}


blockquote {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    background-color: #D5E5E6;
    margin: 0;
    width: 92%;
    padding: 50px;
    font-size: 20px;
    color: #313335;
}

.hero {
  min-height: 400px;
  width: 110%;
  background-image: url('https://bkrnnt.github.io/webdevelopment/background.jpg');
  background-size: cover; /*fill screen*/
  background-position: 70% center; /*move image to the right*/
  background-repeat: no-repeat;
  max-height: 50px;
  display: flex;                
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFF5;
}
.hero h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  color: #FFFFF5;
  margin-top: 50px;
  background: none; /* remove previous background color */
}

.hero p {
    font-family: 'Noto Serif' serif;
    font-size: 20px;
        color: #FFFFF5;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 300px;
    background: black;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.hero button {
    background-color: #FFFFF5;
    padding: 12px 12px;
    margin-bottom: 30px;
}

.hero button:hover {
    background-color: #D5E5E6;
}
